* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color:  inherit;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
}

input, textarea {
  outline: 0;
  background-color: transparent;
  padding: 8px;
}